.profile__edit-button {
    margin-left: 22px;
    cursor: pointer;
    transition: 0.5s all;
    border: none;
    min-width: 24px;
    min-height: 24px;
    background-color: black;
}
.profile__edit-button:hover {
    opacity: 0.6;
}
@media(max-width: 1060px) {
    .profile__edit-button {
        margin-left: 15px;
        min-width: 20px;
        min-height: 20px;
    }
}
@media(max-width: 750px) {
    .profile__edit-button {
        margin-left: 10px;
        min-width: 18px;
        min-height: 18px;
    }
}