.profile__avatar-imgEdit {
    max-width: 120px;
    width: 120px;
    max-height: 120px;
    height: 120px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 0;
    opacity: 0;
    transition: opacity .5s;
    background: rgba(0, 0, 0, 0.80) url('../../../images/avatar_edit_icon.svg') no-repeat center;
}
.profile__avatar-imgEdit:hover {
    opacity: 1;
}