.popup__closing {
    width: 32px;
    height: 32px;
    position: absolute;
    top: -40px;
    right: -40px;
    cursor: pointer;
    transition: .5s all;
    border: none;
    background: transparent url("../../../images/close_icon.svg")no-repeat  center center;
}
.popup__closing:hover {
    opacity: .6;
}
@media(max-width: 600px) {
    .popup__closing {
        width: 20px;
        height: 20px;
        top: -36px;
        right: 0;
    }
}