.elements {
    font-family: Inter, sans-serif;
    display: flex;
    flex-wrap: wrap;
    gap: 17px;
}
@media (max-width: 1279px) {
    .elements {
        justify-content: space-evenly;
    }
}
@media (max-width: 619px) {
    .elements {
       gap: 19px;
    }
}