.profile__edit-button {
    margin-left: 22px;
    cursor: pointer;
    transition: 0.5s all;
    border: none;
    max-width: 24px;
    max-height: 24px;
    background-color: black;
    padding: 0;
}
.profile__edit-button:hover {
    opacity: 0.6;
}
@media(max-width: 1060px) {
    .profile__edit-button {
        margin-left: 15px;
        max-width: 20px;
        max-height: 20px;
    }
}
@media(max-width: 750px) {
    .profile__edit-button {
        margin-left: 5px;
        max-width: 18px;
        max-height: 18px;
        margin-bottom: 5px;
    }
}