.profile__add-button-mobile {
    display: none;
    transition: .5s all;
    box-sizing: border-box;
}
.profile__add-button-mobile:hover {
    opacity: .6;
}
@media (max-width: 619px) {
    .profile__add-button-mobile {
        border: 2px solid white;
        width: 282px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}