.profile__icon-edit {
    width: 24px;
    height: 24px;
}
@media(max-width: 1060px) {
    .profile__icon-edit {
        width: 20px;
        height: 20px;
    }
}
@media(max-width: 750px) {
    .profile__icon-edit {
        width: 18px;
        height: 18px;
    }
}